@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
.router {
  text-align: center;
  background-image: url("./movieBG.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  padding: 1rem;
  min-height: 100vh;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  width: 35%;
  margin: auto;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: rgba(19, 85, 124, 0.6);
  padding: 8px 24px;
  border-radius: 8px;
}

.pagination :hover {
  cursor: pointer;
}

.info {
  visibility: hidden;
}

.anaInfo:hover {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}

.anaInfo:hover .info {
  visibility: visible;
}

.loginSubmit {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  border-radius: 7px;
  border: none;
  background-color: #29b6f6;
  outline: none;
  color: white;
  font-size: 1rem;
}

.loginSubmit:hover {
  background-color: white;
  color: #29b6f6;
}
